body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
}
